<h1>Books</h1>

<% @books.each do |book| %>

  <p><%= book.title %></span>

  <p><%= book.body %></span>

  <span>
    <%= link_to "Show", book_path(book.id) %>
  </span>
  <%= link_to "Edit", edit_book_path(book.id) %>
<% end %>

